# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages used in data science
- Commonly used libraries in Data Science
- Creation of table in Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. Rstudio
3. Java
4. SQL
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Scikit-learn
4. Seaborn

| Data Science Tools |
| :---: |
| Jupyter Notebook |
| VS code |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ramprakash Krishnamurthy